@import "../vars/vars";
@import "../vars/mixin";

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 72px;

  .projects-section {
    max-width: 1200px;
    width: 100%;
    padding: 72px 0;

    .heading {
      width: 100%;
      margin: 0 0 72px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        @include h1;
      }
    }
  }
}

.projects-grid {
  .project {
    margin: 72px 0;

    h2 {
      margin: 20px 0;
    }

    video {
      width: 100%;
      border-radius: 1rem;
      outline: none;
    }
    .infoSection {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 40px 0 0 0;
    }

    .project-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 24px 0;
      position: absolute;
      right: 45px;
      top: 50px;
      z-index: 1;
      transform: translateX(250px);
      transition: transform 1s ease;

      h3 {
        text-align: unset;
      }
    }
    a {
      color: $white;
      text-decoration: none;
      margin: 0.7rem 0;
      border-bottom: 2px solid $red;

      &:hover {
        color: $red;
      }
    }

    h3 {
      margin: 0.7rem 0;
    }

    input[type="checkbox"]:checked + .gigatronDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .gigatronDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + .taxiDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .taxiDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + .thePlanetsDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .thePlanetsDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + .coffeeRoastersDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .coffeeRoastersDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + .githubDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .githubDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + .swipeDiv:after {
      transform: translateX(1px);
    }
    input[type="checkbox"]:checked + .swipeDiv {
      filter: saturate(1);
    }

    input[type="checkbox"]:checked + label .project-info {
      transform: translateX(0);
    }

    .gigatronDiv {
      background-image: url("gigatronProject.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }
    .gigatron {
      display: none;
    }

    .taxiDiv {
      background-image: url("taxiApp.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }
    .taxi {
      display: none;
    }

    .thePlanetsDiv {
      background-image: url("thePlanets.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }
    .thePlanets {
      display: none;
    }

    .swipeDiv {
      background-image: url("swipe.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }

    .swipe {
      display: none;
    }

    .coffeeRoastersDiv {
      background-image: url("coffeeRoasters.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }
    .coffeeRoasters {
      display: none;
    }

    .githubDiv {
      background-image: url("devFinder.png");
      @include imageProject;
      position: relative;
      overflow: hidden;
      display: block;

      &::after {
        content: "";
        width: 15rem;
        height: 41rem;
        background-color: $black;
        position: absolute;
        right: 0;
        transform: translateX(250px);
        transition: transform 1s ease;
      }
    }
    .github {
      display: none;
    }
  }
}
@media screen and (max-width: 1200px) {
  .projects {
    .projects-section {
      padding: 72px 3rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .projects {
    padding-bottom: unset;

    .projects-section {
      display: flex;
      flex-direction: column;

      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        h2 {
          @include h2;
          font-size: 40px;
        }
      }
    }
  }

  .projects-grid {
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      // position: relative;

      // &::after {
      //   content: "";
      //   width: 30rem;
      //   height: 30rem;
      //   background-color: $black;
      //   position: absolute;
      //   transform: rotate(45deg) translate(371px, 159px);
      // }
      .infoSection {
        display: flex;
      }

      .thePlanetsDiv {
        display: none;
      }

      .thePlanets {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .gigatronDiv {
        display: none;
      }

      .gigatron {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .taxiDiv {
        display: none;
      }

      .taxi {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .swipeDiv {
        display: none;
      }

      .swipe {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .coffeeRoastersDiv {
        display: none;
      }

      .coffeeRoasters {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .githubDiv {
        display: none;
      }

      .github {
        @include imageProject;
        background-size: unset;
        height: unset;
        display: block;
        filter: unset;
      }

      .project-info {
        justify-content: center;

        h3 {
          text-align: center;
        }

        a {
          margin: 0 14px 0 0;

          &:nth-of-type(2) {
            margin: unset;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .projects {
    .projects-section {
      .heading {
        h2 {
          font-size: 35px;
        }
      }
    }
  }
}
